/*body {*/
  /*margin: 1em 0 0 0;*/
  /*vertical-align: middle;*/
  /*font-family: 'Lucida Console', 'Courier New';*/
  /*font-size: 18pt;*/
  /*font-style: normal;*/
  /*text-shadow: none;*/
  /*text-decoration: none;*/
  /*text-transform: none;*/
  /*letter-spacing: 0;*/
  /*word-spacing: 0;*/
  /*line-height: 1.2;*/
/*}*/

/*a {*/
  /*text-decoration: none;*/
  /*color: inherit;*/
/*}*/

/*pre {*/
 /*white-space: pre-wrap;*/
 /*white-space: -moz-pre-wrap;*/
 /*white-space: -pre-wrap;*/
 /*white-space: -o-pre-wrap;*/
 /*word-wrap: break-word;*/
/*}*/

/*#top {*/
    /*width: 40%;*/
    /*margin: 0 auto 0 auto;*/
/*}*/

/*#content {*/
  /*clear: both;*/
  /*width: 760px;*/
  /*text-align: left;*/
  /*margin: 1em auto;*/
/*}*/

/*.permalink a:hover {*/
  /*text-decoration: underline;*/
/*}*/


body, html {
  padding-top: 20px;
  padding-bottom: 20px;
  height: 100%;
}

.header, .marketing, .footer {
  padding-left: 15px;
  padding-right: 15px;
}

.header {
  border-bottom: 1px solid #e5e5e5;
}

.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

@media screen and (min-width: 768px) {
  .header, .marketing, .footer {
    padding-left: 0;
    padding-right: 0;
  }

  .header {
    margin-bottom: 30px;
  }

}

.opt-builtins {
    font-weight: bold;
    font-size: 18px;
    padding-bottom: 20px;
}