<!doctype html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">

  <link rel="author" href="/humans.txt" />
  <link rel="stylesheet" href="{{ url_for('static', filename='css/base.css') }}"/>

  <title>{{ builtin }}</title>
</head>
<body>
  <a href="https://github.com/fernandovalente/python-builtins" target="_blank">
      <img style="position: absolute; top: 0; right: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_right_orange_ff7600.png" alt="Fork me on GitHub">
  </a>
  <header id="top">
    <div id="logo">
      <img src="{{ url_for('static', filename='imgs/python-builtins.png') }}" alt="Python Built-ins logo"/>
    </div>
  </header>
  {% block content %}{% endblock %}
</body>
</html>