{% extends 'base.html' %}

{% block content %}
  <div id="content">
      <label>Choose another built-in</label>
      <select name="" id="builtins">
        <option value=""></option>
      {% for c in choices %}
        <option value="{{ c }}">{{ c }}</option>
      {% endfor %}
      </select>

      or <a href="#" id="random">load next</a>

      <pre>{{ help|safe }}</pre>
  </div>
{% endblock %}

{% block js %}
  <script>
    $('#random').on('click', function (e) {
      e.preventDefault();
      window.location.href = '/';
    });

    $('#builtins').on('change', function () {
      window.location.href = this.value;
    });
  </script>
{% endblock %}
